.App{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 20%;
  border: none;
  padding: 10px;
}

.search-btn{
  background: rgb(132, 132, 247);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 15px;
}

.search-btn:hover{
  background-color:darkgreen;
}

.titre{
  text-align: center;
  font-style: italic;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
